PORT=80
MONGO_URI=mongodb+srv://<db_username>:<db_password>@cluster0.p8vje.mongodb.net/jwtauth?authSource=admin
JWT_SECRET=change_this_to_a_strong_random_secret
LOGIN_URL=http://localhost/auth/login
ALLOW_MOCK_USERS=true
SEED_CLIENT_ID=clnt0001
SEED_CLIENT_SECRET=clientsecret0001
ADMIN_USER=admin
ADMIN_PASS=admin123
